<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<PageTemplate RootFolder="C:\Program Files (x86)\Innovasys\DocumentX4\Configuration\Templates\MSDN 2010\" Name="MSDN 2010" Description="Template based on the MSDN 2010 style." ObjFillColor="16777215" ObjTextColor="1" ObjBorderColor="0" ColFillColor="12632256" ColTextColor="16777215" ColBordercolor="0" BorderWidth="0" UseDropShadow="False" CenterCaptions="False" DiagramBold="True" UseDiagramShapes="False" Supports="Px" Version="4.11" Languages="" DefTOCVBProject="Standard" DefTOCVBProjectGroup="Standard" DefTOCMixture="Standard" DefTOCComponent="Standard" DefTOCComponentGroup="Standard" NoStandardSupport="True" TemplateCategory="Application Help" StyleSheet="stylesheets\helpstudio.css">
    <PageLayout Name="" FileName="standard.html" PageType="0" TitleTemplate="" Namespace="DX.HelpStudioLite:Topic" DependantCount="-1" DependantOnnamespace="" DependantOnnamespace_Filter=""/>
    <PageLayout Name="" FileName="no headers.html" PageType="0" TitleTemplate="" Namespace="DX.HelpStudioLite:Topic" DependantCount="-1" DependantOnnamespace="" DependantOnnamespace_Filter=""/>
    <PageLayout Name="" FileName="glossary.html" PageType="0" TitleTemplate="glossary.html" Namespace="" DependantCount="-1" DependantOnnamespace="" DependantOnnamespace_Filter=""/>
    <PageLayout Name="" FileName="Template.HxC" PageType="0" TitleTemplate="%%HelpCompilerProjectFileName%%.HxC" Namespace="" DependantCount="-1" DependantOnnamespace="" DependantOnnamespace_Filter=""/>
    <PageLayout Name="" FileName="Template.HxF" PageType="0" TitleTemplate="%%HelpCompilerProjectFileName%%.HxF" Namespace="" DependantCount="-1" DependantOnnamespace="" DependantOnnamespace_Filter=""/>
    <PageLayout Name="" FileName="template.hxk" PageType="0" TitleTemplate="%%HelpCompilerProjectFileName%%.hxk" Namespace="" DependantCount="-1" DependantOnnamespace="" DependantOnnamespace_Filter=""/>
    <PageLayout Name="" FileName="template_F.hxk" PageType="0" TitleTemplate="%%HelpCompilerProjectFileName%%_F.hxk" Namespace="" DependantCount="-1" DependantOnnamespace="" DependantOnnamespace_Filter=""/>
    <PageLayout Name="" FileName="template_N.hxk" PageType="0" TitleTemplate="%%HelpCompilerProjectFileName%%_N.hxk" Namespace="" DependantCount="-1" DependantOnnamespace="" DependantOnnamespace_Filter=""/>
    <PageLayout Name="" FileName="template_D.hxk" PageType="0" TitleTemplate="%%HelpCompilerProjectFileName%%_D.hxk" Namespace="" DependantCount="-1" DependantOnnamespace="" DependantOnnamespace_Filter=""/>
    <PageLayout Name="" FileName="template_A.hxk" PageType="0" TitleTemplate="%%HelpCompilerProjectFileName%%_A.hxk" Namespace="" DependantCount="-1" DependantOnnamespace="" DependantOnnamespace_Filter=""/>
    <PageLayout Name="" FileName="template.hxt" PageType="0" TitleTemplate="%%HelpCompilerProjectFileName%%.hxt" Namespace="" DependantCount="-1" DependantOnnamespace="" DependantOnnamespace_Filter=""/>
    <PageLayout Name="" FileName="COL_Template.HxC" PageType="0" TitleTemplate="COL_%%HelpCompilerProjectFileName%%.HxC" Namespace="" DependantCount="-1" DependantOnnamespace="" DependantOnnamespace_Filter=""/>
    <PageLayout Name="" FileName="COL_Template_K.hxk" PageType="0" TitleTemplate="COL_%%HelpCompilerProjectFileName%%_K.hxk" Namespace="" DependantCount="-1" DependantOnnamespace="" DependantOnnamespace_Filter=""/>
    <PageLayout Name="" FileName="COL_Template_F.hxk" PageType="0" TitleTemplate="COL_%%HelpCompilerProjectFileName%%_F.hxk" Namespace="" DependantCount="-1" DependantOnnamespace="" DependantOnnamespace_Filter=""/>
    <PageLayout Name="" FileName="COL_Template_N.hxk" PageType="0" TitleTemplate="COL_%%HelpCompilerProjectFileName%%_N.hxk" Namespace="" DependantCount="-1" DependantOnnamespace="" DependantOnnamespace_Filter=""/>
    <PageLayout Name="" FileName="COL_Template_D.hxk" PageType="0" TitleTemplate="COL_%%HelpCompilerProjectFileName%%_D.hxk" Namespace="" DependantCount="-1" DependantOnnamespace="" DependantOnnamespace_Filter=""/>
    <PageLayout Name="" FileName="COL_Template_A.hxk" PageType="0" TitleTemplate="COL_%%HelpCompilerProjectFileName%%_A.hxk" Namespace="" DependantCount="-1" DependantOnnamespace="" DependantOnnamespace_Filter=""/>
    <PageLayout Name="" FileName="COL_Template.hxt" PageType="0" TitleTemplate="COL_%%HelpCompilerProjectFileName%%.hxt" Namespace="" DependantCount="-1" DependantOnnamespace="" DependantOnnamespace_Filter=""/>
    <PageLayout Name="" FileName="RegisterHelp2.bat" PageType="0" TitleTemplate="" Namespace="" DependantCount="-1" DependantOnnamespace="" DependantOnnamespace_Filter=""/>
    <PageLayout Name="" FileName="UnRegisterHelp2.bat" PageType="0" TitleTemplate="" Namespace="" DependantCount="-1" DependantOnnamespace="" DependantOnnamespace_Filter=""/>
    <VariableDef Name="CopyrightNotice" Type="0" Caption="Copyright Notice" Description="Text to display at the footer of each generated page" Defaultvalue="&amp;copy; 2009 Jozef Izso. All Rights Reserved."/>
    <VariableDef Name="FeedbackLink" Type="0" Caption="Feedback Link" Description="HTML to display a feedback link at the top right of each generated page." Defaultvalue="&lt;a href=&quot;mailto:support@company.com?subject=Documentation Feedback: %%FileName%%&quot;&gt;Send comments&lt;/a&gt; on this topic."/>
    <VariableDef Name="TopicXMLIsland" Type="1" Caption="Topic XML Island" Description="Microsoft Help 2.x XML Island (defining attributes for help filtering and F1 Context purposes)" Defaultvalue="&lt;xml&gt;        &lt;MSHelp:RLTitle Title=&quot;%%ItemTitleNoQuotes%%&quot;/&gt;        &lt;MSHelp:Attr Name=&quot;DocSet&quot; Value=&quot;%%HHNamespace%%&quot;/&gt;        &lt;MSHelp:Attr Name=&quot;TopicType&quot; Value=&quot;kbRef&quot;/&gt;    &lt;/xml&gt; "/>
    <VariableDef Name="Help2FileVersion" Type="0" Caption="File Version (Help 2.x only)" Description="Version to include in the compiled Help 2.x file. Should be of the format x.x.x.x" Defaultvalue=""/>
    <TOCDefinition Name="Standard" Description="Standard Table of Contents layout">
        <NodeDef Key="N10866" DependantCount="0" DependantOn="0" DependantOnnamespace="" DependantOnnamespace_Filter="" DependantStillProcessChildren="False" FileNameTemplate="" LinkToPage="True" MarkAsNew="False" NodeCaptionTemplate="%%ItemTitle%%" NodeIconIndex="1" NodeType="1" PageLayout="" PageTypeNamespace="DX.HelpStudioLite:Topic" PageTypeNamespaceFilter="" ParentKey="" UseCustomIcon="False" IsDefaultTopic="False" PlugInName="" PlugInData=""/>
    </TOCDefinition>
    <NamespaceDef Name="DX.HelpStudioLite"/>
    <EnabledPlugins>
        <Plugin>dx.helpstudiolite</Plugin>
    </EnabledPlugins>
</PageTemplate>
